@font-face {
    font-family: Serega;
    src: url("Anastasia.ttf");
}
* {
    box-sizing: border-box;
}
body{
    font-family: Serega;
    padding: 20px;
}
.root {
    height: 90vh;
    width: 150vh;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    padding: 15px;
    background: cornflowerblue;
}
.ver {
    width: 300px;
    height: 84vh;
    display: inline-block;
    overflow-y: auto;
    margin-right: 15px;

    background: yellow;
}
.hor {
    margin: 15px;
    padding: 15px;
    background: green;
    overflow: hidden;
    white-space: normal;

}
.divlast{
    margin-right: 0;
}
.hor.h-50 {
    height: 50px;
}
.hor.h-150 {
    height: 150px;
}
.bold{
    font-weight: 700;
}
.italic{
    font-style: italic;
}
p {
    margin: 0;
}